@import "./sub_layout.css";

/* #visual */
#visual::after { background-image: url('../img/sub_visual/organization.jpg'); }

/* #introduceBox */
#introduceBox { padding: 120px 0;  }
#introduceBox > .inner { width: 1180px; height: 500px; margin: 0 auto; }
#introduceBox > .inner > .contents_box { width: 780px; height: 100%; margin-right: 20px; float: left; display: table; }
#introduceBox > .inner > .contents_box > div { display: table-cell; vertical-align: middle; font-size: 20px; padding: 40px; box-sizing: border-box; }
#introduceBox > .inner > .contents_box > div > h2 { margin-bottom: 40px; text-transform: uppercase; font-size: 36px; }
#introduceBox > .inner > .contents_box > div > p { line-height: 1.6; margin-bottom: 20px; }
#introduceBox > .inner > .pic { width: 380px; height: 100%; float: left; background-color: #999; }

/* #historyBox */
#historyBox > .inner { width: 1180px; margin: 0 auto; }
#historyBox > .inner > h1 { text-align: center; text-transform: uppercase; font-size: 36px; margin-bottom: 40px; }
#historyBox > .inner > ul { position: relative; z-index: 1;}
#historyBox > .inner > ul::before { content: ''; display: block; width: 2px; height: 100%; background-color: royalblue; position: absolute; top: 0px; left: 50%; margin-left: -1px; z-index: -1;}
#historyBox > .inner > ul > li > h2 { width: 100px; height: 100px; line-height: 100px; text-align: center; border-radius: 50px; background-color: royalblue; margin: 0 auto; color: #fff; }

/* #organiztionBox */
#organizationBox { padding: 100px 0px; }
#organizationBox > .inner { width: 1180px; margin: 0 auto; }
#organizationBox > .inner > h1 { display: none; }
#organizationBox > .inner > .organizationBox_chart { height: 800px; background: url('../img/organization_chart.png') no-repeat; background-size: contain; filter: grayscale(0.8); }
#organizationBox > .inner > .organizationBox_chart > li { display: none; }
#organizationBox > .inner > .organizationBox_chart ul { margin-left: 20px;  }
#organizationBox > .inner > .organizationBox_chart li { margin-top: 20px; position: relative; box-sizing: border-box; }
#organizationBox > .inner > .organizationBox_chart span { display: block; height: 40px; line-height: 40px; text-indent: 10px; box-sizing: border-box; border: 1px solid; color: #666; }
#organizationBox > .inner > .organizationBox_chart > li > strong::after{
    display: none;
}
#organizationBox > .inner > .organizationBox_chart strong { display: block; height: 60px; border: 1px solid; margin-bottom: 20px; font-size: 20px; line-height: 60px; text-indent: 20px; box-sizing: border-box; }
#organizationBox > .inner > .organizationBox_chart strong::before{
    display: block; content: ''; width: 1px; position: absolute; background-color: #000; top: 0px; bottom: 20px; left: 0px;
}
#organizationBox > .inner > .organizationBox_chart > li > strong::before {
    bottom: 270px;
}
#organizationBox > .inner > .organizationBox_chart strong::after{
    display: block; content: ''; width: 20px; height: 1px; background: #000; left: -20px; top: 30px; bottom: 0px; position: absolute;
}

.class_center { position : relative; }
.class_center > li:first-child { font-weight: 600; }
.class_center > li::after { display: block; content: ''; width: 20px; height: 1px; top: 20px; left: -20px; background-color: #000; position: absolute; }

.class_rnd { position: relative; }
.class_rnd > li::after { display: block; content: ''; width: 20px; height: 1px; top: 20px; left: -20px; background-color: #000; position: absolute; }

ul[class^=class] { position: relative; }
ul[class^=class] > li::after { display: block; content: ''; width: 20px; height: 1px; top: 20px; left: -20px; background-color: #000; position: absolute; }

/* 타블렛 */
@media screen and (max-width: 1179px){
    #organizationBox > .inner { width: 100%; max-width: 600px; padding: 0 20px; box-sizing: border-box; }
    #organizationBox > .inner > .organizationBox_chart { height: auto; background: none; }
    #organizationBox > .inner > .organizationBox_chart > li { display: block; }
}