@charset "utf-8";
@import "./sub_layout.css";

/* #communityBox */
#communityBox {padding: 100px 0;}
#communityBox > .inner { max-width:1180px; margin: 0 auto; }
#communityBox > .inner > h1 { display: none; }
#communityBox > .inner > .search_box { width: 100%; height: 40px; margin-bottom: 20px; border: 1px solid #999; box-sizing: border-box; }
#communityBox > .inner > .search_box > fieldset { width: 100%; height: 100%;; position: relative; }
#communityBox > .inner > .search_box > fieldset > * { display: block; float: left; height: 100%; border: none; }
#communityBox > .inner > .search_box > fieldset > select { width: 200px; border-right: 1px solid #ddd; padding: 0 10px; box-sizing: border-box; }
#communityBox > .inner > .search_box > fieldset > input { box-sizing: border-box; width: calc(100% - 200px); padding: 0px 70px 0px 20px; }
#communityBox > .inner > .search_box > fieldset > button { width: 50px;  position: absolute; right: 0px; background-color: transparent; font-size: 20px; color: #333; }
#communityBox > .inner > table{ width: 100%; text-align: center; table-layout: fixed; border-top: 2px solid #ddd;}
#communityBox > .inner > table tr { height: 60px; }
#communityBox > .inner > table tr > th,
#communityBox > .inner > table tr > td { border-bottom: 1px solid #dfdfdf; }
#communityBox > .inner > table tr > td{ text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
#communityBox > .inner > table tr > th:nth-of-type(1) {  width: 10%; }
#communityBox > .inner > table tr > th:nth-of-type(2) { width: 60%;}
#communityBox > .inner > table tr > th:nth-of-type(3) { width: 20%; }
#communityBox > .inner > table tr > th:nth-of-type(4) { width: 10%; }
#communityBox > .inner > table tr > td:nth-of-type(2) { text-align-last: left; }
#communityBox > .inner > table tbody tr:hover{background-color: rgba(65, 105, 225, 0.075);}
#communityBox > .inner > .list_page { text-align: center; margin-top: 20px; }
#communityBox > .inner > .list_page > a { display: inline-block; width: 30px; height: 30px; text-align: center; vertical-align: top; line-height: 30px; border: 1px solid; color: #999; position: relative; }
/* 화살표 */
.arrow::before,
.arrow::after{content: ''; display: block; width: 40%; height: 1px; background-color: #999; position: absolute; top: 50%; left: 30%;}
.arrow.prev::before {  transform-origin: left; transform : rotate(45deg);  }
.arrow.prev::after {  transform-origin: left; transform : rotate(-45deg); }
.arrow.next::before {  transform-origin: right; transform : rotate(45deg);  }
.arrow.next::after {  transform-origin: right; transform : rotate(-45deg); }

@media screen and (max-width: 1179px){
    /* #communityBox */
    #communityBox > .inner { padding: 0 20px; box-sizing: border-box; }
    #communityBox > .inner > table tr > th:nth-of-type(1), 
    #communityBox > .inner > table tr > td:nth-of-type(1){ display: none; }
    #communityBox > .inner > table tr > th:nth-of-type(2) { width: 80%;}
    #communityBox > .inner > table tr > th:nth-of-type(4),
    #communityBox > .inner > table tr > td:nth-of-type(4) { display: none; }
}

@media screen and (max-width: 599px){
    /* #communityBox */
    #communityBox > .inner > .search_box > fieldset > select { display: none; }
    #communityBox > .inner { padding: 0 20px; box-sizing: border-box; }
    #communityBox > .inner > table tr > th:nth-of-type(1), 
    #communityBox > .inner > table tr > td:nth-of-type(1){ display: none; }
    #communityBox > .inner > table tr > th:nth-of-type(2) { width: 80%;}
    #communityBox > .inner > table tr > th:nth-of-type(4),
    #communityBox > .inner > table tr > td:nth-of-type(4) { display: none; }
}