@import './sub_layout.css';
#visual::after { background-image: url(../img/sub_visual/gallery.jpg); }

/* #search */
#search { margin: 60px 0; }
#search > .inner { width: 1180px; margin: 0 auto; padding: 20px; box-sizing: border-box; }
#Formsearch {max-width: 800px; position: relative; border-bottom: 2px solid royalblue; margin: 0 auto;}
#search input { width: 100%; height: 60px; border: none;  padding: 20px; padding-right: 80px; box-sizing: border-box; font-size:16px; text-align: center;}
#search button { width: 60px; height: 60px; position: absolute; top: 0px; right: 0px; font-size: 20px; background-color: transparent;}

/* #gallery */
#gallery { margin-bottom: 120px; }
#gallery > .inner { width: 1180px; margin: 0 auto; }
#gallery > .inner > .list_image { width: 100%; }
#gallery > .inner > .list_image > li { width: 25%; position: relative; float: left; padding: 10px; box-sizing: border-box; } 
#gallery > .inner > .list_image > li img { width: 100%; height: auto; filter: grayscale(0.8);}
#gallery > .inner > .list_image > li > a { display: block; width: 100%; height: 100%;; position: relative;}
#gallery > .inner > .list_image > li h2 { display: flex; width: 100%; height: 100%; position: absolute; bottom: 0; left:0; justify-content: center; align-items: center; background: royalblue; color: #fff; transition: 0.5s; text-align: center; padding: 20px; box-sizing: border-box;}

/* card flip */
#gallery > .inner > .list_image > li { perspective : 1000px;}
#gallery > .inner > .list_image > li img { transition: 1s; backface-visibility:hidden; transform: rotateY(0deg)  }
#gallery > .inner > .list_image > li h2 { transition: 1s; backface-visibility:hidden; transform : rotateY(-180deg); }
#gallery > .inner > .list_image > li:hover img { transform : rotateY(180deg); }
#gallery > .inner > .list_image > li:hover h2 { transform : rotateY(0deg); }

/* #popup  */
.popup_image { width: 100%; height: 100%; padding: 40px; box-sizing: border-box; background-color: rgba(0,0,0,0.9); position: fixed; top: 0; left: 0; z-index: 1000; }
.popup_image > img { width: 100%; height: 100%; object-fit: contain; }
.popup_image > span { font-size: 14px; color: #fff; position: absolute; top: 20px; right: 20px; cursor: pointer; }