@import "./reset.css";
/* #joinBox */
#joinBox{ min-height: 100%; padding: 120px 0px; background: url('../img/galaxy.jpg') center no-repeat; background-attachment: fixed; background-size: cover; box-sizing: border-box;}
#joinBox > .inner { max-width: 600px; margin: 0 auto; border: 1px solid #ddd; padding: 80px 40px; box-sizing: border-box; border-radius: 4px; background-color: #fff;}
#joinBox > .inner > h1 { text-align: center; font-size: 40px; color: royalblue; }
#joinBox > .inner > h1 + p { margin-bottom: 60px;  text-align: center;}
#joinBox > .inner > form { max-width: 400px; margin: 0 auto; }
#joinBox > .inner > form > fieldset > div { margin-bottom: 24px; }
#joinBox > .inner > form > fieldset > div > label { display: block; color: rgb(87, 103, 150); }
#joinBox > .inner > form > fieldset > div > input { width: 100%; padding: 8px 0px; font-size: 16px; display: block; border: none; border-bottom: 1px solid #dfdfdf; box-sizing: border-box; }
#joinBox > .inner > form > fieldset > div > .error { text-align: right; font-size: 12px; margin-top: 4px; color: red; }
#joinBox > .inner > form > fieldset > div > input:focus { outline:none; border-color: royalblue;}
#joinBox > .inner > form > fieldset > .terms_box > p { margin-bottom: 8px; margin-left: 10px; font-size: 14px; }
#joinBox > .inner > form > fieldset > .terms_box > .allcheck { font-size: 16px; padding-bottom: 10px; border-bottom: 1px solid #ddd; margin-bottom: 10px; margin-left: 0; }
#joinBox > .inner > form > fieldset > .terms_box > p > label > a { text-decoration: underline; }
#joinBox > .inner > form > fieldset > .btn_join{ width: 100%; height: 50px; color: #fff; background-color: royalblue; border-radius: 4px; font-size: 16px; margin-top: 40px; }

/* 반응형 */
@media screen and (max-width:699px){
    #joinBox{ padding: 0px; background: none; }
    #joinBox > .inner { border: none; padding: 80px 20px; }
}