@charset "utf-8";
@import "./sub_layout.css";

/* #visual */
#visual::after { background-image: url('../img/sub_visual/organization.jpg'); }

/* #organiztionBox */
#organizationBox { padding: 100px 0px; }
#organizationBox > .inner { width: 1180px; margin: 0 auto; }
#organizationBox > .inner > h1 { display: none; }
#organizationBox > .inner > .organizationBox_chart { height: 800px; background: url('../img/organization_chart.png') no-repeat; background-size: contain; filter: grayscale(0.8); }
#organizationBox > .inner > .organizationBox_chart > li { display: none; }
#organizationBox > .inner > .organizationBox_chart ul { margin-left: 20px;  }
#organizationBox > .inner > .organizationBox_chart li { margin-top: 20px; position: relative; box-sizing: border-box; }
#organizationBox > .inner > .organizationBox_chart span { display: block; height: 40px; line-height: 40px; text-indent: 10px; box-sizing: border-box; border: 1px solid; color: #666; }
#organizationBox > .inner > .organizationBox_chart > li > strong::after{
    display: none;
}
#organizationBox > .inner > .organizationBox_chart strong { display: block; height: 60px; border: 1px solid; margin-bottom: 20px; font-size: 20px; line-height: 60px; text-indent: 20px; box-sizing: border-box; }
#organizationBox > .inner > .organizationBox_chart strong::before{
    display: block; content: ''; width: 1px; position: absolute; background-color: #000; top: 0px; bottom: 20px; left: 0px;
}
#organizationBox > .inner > .organizationBox_chart > li > strong::before {
    bottom: 270px;
}
#organizationBox > .inner > .organizationBox_chart strong::after{
    display: block; content: ''; width: 20px; height: 1px; background: #000; left: -20px; top: 30px; bottom: 0px; position: absolute;
}

.class_center { position : relative; }
.class_center > li:first-child { font-weight: 600; }
.class_center > li::after { display: block; content: ''; width: 20px; height: 1px; top: 20px; left: -20px; background-color: #000; position: absolute; }

.class_rnd { position: relative; }
.class_rnd > li::after { display: block; content: ''; width: 20px; height: 1px; top: 20px; left: -20px; background-color: #000; position: absolute; }

ul[class^=class] { position: relative; }
ul[class^=class] > li::after { display: block; content: ''; width: 20px; height: 1px; top: 20px; left: -20px; background-color: #000; position: absolute; }

/* 타블렛 */
@media screen and (max-width: 1179px){
    #organizationBox > .inner { width: 100%; max-width: 600px; padding: 0 20px; box-sizing: border-box; }
    #organizationBox > .inner > .organizationBox_chart { height: auto; background: none; }
    #organizationBox > .inner > .organizationBox_chart > li { display: block; }
}
