@charset "utf-8";
@import "./reset.css";

/* headBox */
#headBox{height: auto;}
#headBox .inner{width: 1180px; margin: 0 auto;}
#headBox .user_menu{ padding: 20px 0; border-top: 2px solid #0c0c0c;}
#headBox .user_menu h1{margin-right: 60px; line-height: 40px;}
#headBox .user_menu h1, 
#headBox .user_menu .unb{float: left;}
#headBox .user_menu .unb > li {float: left; margin-right: 10px; color: #0c0c0c; border: 1px solid #0c0c0c; border-radius: 40px; }
#headBox .user_menu .unb > li > a{display: block; padding: 4px 16px 6px 14px; font-size: 14px; }
#headBox .user_menu .unb > li:first-child {background: #0c0c0c; color: #fff;}
#headBox .user_menu .search_box{float: right; color:#999; border-bottom: 1px solid; padding-bottom: 4px; height: 40px;}
#headBox .user_menu .search_box input[type="text"]{width: 200px; height: 40px; border: none; text-indent: 8px;}
#headBox .user_menu .search_box input[type="text"]::placeholder{color: #999;}
#headBox .user_menu .search_box button{width: 40px; height: 40px; background: transparent;}
#headBox .user_menu .search_box button>i {font-size: 20px; color:#999;}

#headBox .gnb_box, #headBox .gnb_box .btn_menu{height: 60px; background: #eee; font-weight: bold; font-size: 18px; line-height: 60px;}
#headBox .gnb_box .gnb {float: left;}
#headBox .gnb_box .gnb > li {float: left; margin-right: 80px;}
#headBox .gnb_box .btn_menu {width: 60px; float: right; font-size: 24px;}

/* mainBanner */
#mainBanner{ height: 600px; position: relative; overflow: hidden;}
#mainBanner::after{content: ''; display: block; width: 100%; height: 50%; background: linear-gradient(360deg, #0c0c0c 20%, transparent 100%); position: absolute; bottom: 0; left:0; }
#mainBanner > .inner {position: absolute; width: 100%; z-index: 10; color: #fff; text-align: center; top: 50%; left: 50%; transform: translate(-50%, -50%); margin-top: -50px; font-size: 30px; letter-spacing: 10px;}
#mainBanner > video {position: absolute; min-width: 100%; min-height: 100%; width: auto; height: auto; top:50%; left: 50%; transform: translate(-50%, -50%); filter: grayscale(1);}

/* howtoBuy */
#howtoBuy{padding-top: 100px; padding-bottom: 80px; background: #0c0c0c; color: #fff;}
#howtoBuy .inner { width: 1180px; margin: 0 auto; text-align: center;}
#howtoBuy h1{margin-bottom: 8px;  font-size: 28px;}
#howtoBuy h1 > .point_text{position: relative; color: #fa0;}
/* #howtoBuy h1 > .point_text::after{position: absolute; content:''; display: inline-block; background-color: #fa0; width: 100%; height: 40%; left:0; bottom: 0; z-index: -1;} */
#howtoBuy h1+p{ color: #666; margin-bottom: 60px;}
#howtoBuy .step_box > li {float: left; width: 20%; padding: 20px; box-sizing: border-box; position: relative; transition: all 1s;}
#howtoBuy .step_box > li::after{content: ''; display: block; width: 40%; height: 1px; background: #fff; position: absolute; top: 50px; right: -20%; opacity: 0.2}
#howtoBuy .step_box > li:hover {color: #fa0; }
#howtoBuy .step_box > li:last-child::after{display: none;}
#howtoBuy .step_box > li .pic{width: 60px; height: 60px; margin: 0 auto; margin-bottom: 10px; font-size: 40px; line-height: 60px; text-align: center;}
#howtoBuy .step_box > li dt{font-weight: bold; margin-bottom: 4px; font-size: 16px; text-transform: uppercase;}
#howtoBuy .step_box > li dt+dd{font-size: 14px;}

/* eventBanner */
#eventBanner{ padding: 60px 0; background: #eee;}
#eventBanner .inner{width: 1180px; margin: 0 auto;}
#eventBanner .inner > article {float: left; width: 33.333333%; height: 200px; background-repeat: no-repeat; background-size: cover; border: 1px solid #eee; box-sizing: border-box; border-right: 0; filter: grayscale(1); transition: all 1s;}
#eventBanner .inner > article:hover {filter: none;}
#eventBanner .inner > article:nth-of-type(1){background-image: url('../img/space1.png');}
#eventBanner .inner > article:nth-of-type(2){background-image: url('../img/space2.png');}
#eventBanner .inner > article:nth-of-type(3){background-image: url('../img/space3.png');}

/* consumerMenu */
#consumerMenu{margin-top: 100px;}
#consumerMenu .inner{width: 1180px; margin: 0 auto;}
#consumerMenu .inner > div{float: left; width: 50%;}
#consumerMenu h1{margin-bottom: 40px;  font-size: 28px; }
#consumerMenu h1::before{content: ''; display: block; width: 40px; height: 3px; background: #999; margin-bottom: 20px;}
#consumerMenu .inner .consumer_menu > li { float: left; width: 280px; margin-right: 10px; margin-bottom: 10px; }
#consumerMenu .inner .consumer_menu > li:nth-child(2n){margin-right: 0px; }
#consumerMenu .inner .consumer_menu > li > a { display: block; width: 80%; height: 100%; border-bottom: 1px solid #eee; padding-bottom: 5px; padding-left: 10px; box-sizing: border-box; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden;}
#consumerMenu .inner > .pic{background:url('../img/milyway.png') no-repeat; background-size: cover; background-position: center bottom; height: 300px; border-radius: 8px;}

/* insuranceMenu */
#insuranceMenu {padding: 100px 0px;}
#insuranceMenu > .inner {width: 1180px; margin: 0px auto;}
#insuranceMenu > .inner > article{ float: left; width: 280px; height: 200px; margin-right: 20px; border: 1px solid #ddd; box-sizing: border-box; padding: 20px; border-radius: 8px; position: relative; }
#insuranceMenu > .inner > article:nth-of-type(2n){background: #0c0c0c; color: #fff;}
#insuranceMenu > .inner > article:last-child {margin-right: 0px;}
#insuranceMenu > .inner > article > h2 {margin-bottom: 10px; font-size: 20px;}
#insuranceMenu > .inner > article > h2 + p {color: inherit; word-break: keep-all; font-size: 14px; opacity: 0.7; }
#insuranceMenu > .inner > article > a {display: block; position: absolute; bottom: 20px; left: 20px; background: #666; color: #fff; padding: 4px 20px 4px; border-radius: 20px; font-size: 14px;}

/* footBox */
#footBox{background-color: #0c0c0c; color: #fff; padding-bottom: 40px;}
#footBox > .inner {width: 1180px; margin: 0 auto;}
#footBox > .inner > .inb_box {  padding: 40px 0px 30px; font-size: 14px; }
#footBox > .inner > .inb_box > .inb { width: 280px; float: left; margin-right: 20px;}
#footBox > .inner > .inb_box > .inb > li { float: left; margin-right: 20px;}
#footBox > .inner > .inb_box > .inb > li:first-child > a { color:#e9e9e9; }
#footBox > .inner > .inb_box > .inb > li::after{content: ''; width: 1px; height: 10px; display: inline-block; background: #999; margin-left: 20px;}
#footBox > .inner > .inb_box > .inb > li:last-child::after{display: none;}
#footBox > .inner > .inb_box > address{ float: left; font-style: normal; }
#footBox > .inner > .logo_box > h2,
#footBox > .inner > .logo_box > .call_box,
#footBox > .inner > .logo_box > small  { float: left; }
#footBox > .inner > .logo_box > h2 {width: 280px; height: 80px; margin-right: 20px;}
#footBox > .inner > .logo_box > .call_box{width: 780px; }
#footBox > .inner > .logo_box > .call_box > li {float: left; font-size: 13px; width: 20%;}
#footBox > .inner > .logo_box > .call_box > li > strong {margin-right: 5px;}
#footBox > .inner > .logo_box > .call_box > li > span { color: #aaa;}
#footBox > .inner > .logo_box > small  {margin-top: 20px; color: #999;}

@media screen and (max-width:1199px){
    /* headBox */
    #headBox .inner{width: 100%; padding: 0 20px; box-sizing: border-box;}
    #headBox .user_menu .unb, #headBox .user_menu .search_box { display: none; }
    #headBox .gnb_box .gnb {display: none;}
    #headBox .gnb_box {height: 0;}
    #headBox .gnb_box .btn_menu {position: absolute; top : 10px; right: 0px; background: transparent;}

    /* mainBanner */
    #mainBanner{ width: 100%;}

    /* howtoBuy */
    #howtoBuy .inner { width: 100%; padding: 0 20px; box-sizing: border-box; }
    #howtoBuy .step_box > li {float: left; width: 33.333333%; margin-bottom: 40px;}
    #howtoBuy .step_box > li::after{ width: 25%;}
    #howtoBuy .step_box > li::after{ right: -12.5%; }
    #howtoBuy .step_box > li:nth-child(4){margin-left: 16.666666%;}
    #howtoBuy .step_box > li:nth-child(3)::after,
    #howtoBuy .step_box > li:last-child::after {display: none;}

    /* eventBanner */
    #eventBanner .inner{width: 100%; padding: 0 20px; box-sizing: border-box;}
    #eventBanner .inner > article {float: left; width: 33.333333%; height: 200px;}

    /* consumerMenu */
    #consumerMenu .inner{ width: 100%; padding: 0 20px; box-sizing: border-box; }
    #consumerMenu .inner > div{width: 100%; margin-bottom: 40px;}
    #consumerMenu .inner .consumer_menu > li { float: left; width: 33.333333%; margin-right: 0px; }

    /* insuranceMenu */
    #insuranceMenu > .inner { width: 100%; padding: 0 20px; box-sizing: border-box; }
    #insuranceMenu > .inner > article{ float: left; width: 49%; height: 200px; margin-right: 2%; margin-bottom: 2%;}
    #insuranceMenu > .inner > article:nth-of-type(2n){margin-right: 0; color: #000;}
    #insuranceMenu > .inner > article:nth-of-type(2), #insuranceMenu > .inner > article:nth-of-type(3) {background: #0c0c0c; color: #fff;}
    #insuranceMenu > .inner > article:nth-of-type(4) {background: #fff;}

    /* footBox */
    #footBox > .inner { width: 100%; padding: 0 20px; box-sizing: border-box; text-align: center; }
    #footBox > .inner > .inb_box {  padding: 30px 0px 40px; text-align: center; }
    #footBox > .inner > .inb_box > .inb { width: 100%; display: inline-block; margin-right: 0; margin-bottom: 10px; }
    #footBox > .inner > .inb_box > .inb > li { display: inline-block; float: none; }
    #footBox > .inner > .inb_box > .inb > li:last-child::after{display: none;}
    #footBox > .inner > .inb_box > address{ float: none; }
    #footBox > .inner > .logo_box > h2 {display: none;}
    #footBox > .inner > .logo_box > .call_box{width: 80%; margin-left: 10%;}
    #footBox > .inner > .logo_box > .call_box > li { width: 33.333333%; margin-bottom: 20px;}
    #footBox > .inner > .logo_box > small  { width: 100%; }
}

@media screen and (max-width: 899px){
    /* consumerMenu */
    #consumerMenu .inner .consumer_menu > li { width: 50%; }
}

@media screen and (max-width: 549px){
    /* mainBanner */
    #mainBanner > .inner > h1 {font-size: 20px;}
    #mainBanner > .inner > h1 + p {font-size: 14px;}

    /* howtoBuy */
    #howtoBuy {  padding-top: 60px; margin-bottom: 40px;}
    #howtoBuy h1 {font-size: 20px;}
    #howtoBuy h1+p{font-size: 14px;}
    #howtoBuy .step_box > li {width: 50%; margin-bottom: 20px;}
    #howtoBuy .step_box > li:last-child { margin-left: 25%;}
    #howtoBuy .step_box > li:nth-child(4){margin-left: 0;}
    #howtoBuy .step_box > li:nth-child(2n-1)::after { display: block; }
    #howtoBuy .step_box > li:nth-child(2n)::after,
    #howtoBuy .step_box > li:last-child::after  { display: none;}
    #howtoBuy .step_box > li dt {font-size: 14px;}
    #howtoBuy .step_box > li dt+dd {font-size: 12px;}

    /* eventBanner */
    #eventBanner .inner > article {width: 100%;}
    #eventBanner .inner > article:nth-of-type(2),
    #eventBanner .inner > article:nth-of-type(3){ display: none; }

    /* consumerMenu */
    #consumerMenu {margin-top: 60px; }
    #consumerMenu .inner .consumer_menu > li { width: 100%; }
    #consumerMenu .inner > .pic {height: 200px;}

    /* insuranceMenu */
    #insuranceMenu {padding: 40px 0;}
    #insuranceMenu > .inner { width: 100%; padding: 0 20px; box-sizing: border-box; }
    #insuranceMenu > .inner > article{ width: 100%; height: 200px; margin-right: 0; margin-bottom: 20px;}
    #insuranceMenu > .inner > article:nth-of-type(2n){margin-right: 0; background: #0c0c0c; color: #fff;}
    #insuranceMenu > .inner > article:nth-of-type(2n-1) {background: #fff;}

    /* footBox */
    #footBox > .inner > .inb_box > .inb { width: 100%; }
    #footBox > .inner > .inb_box > .inb > li:last-child {margin-right: 0;}
    #footBox > .inner > .logo_box > h2 {display: none;}
    #footBox > .inner > .logo_box > .call_box > li { width: 100%; }
}